<main class="chat-window">
        <header class="chat-header">
          <h1>Chat</h1>
          <span class="participants"></span>
        </header>
        <section class="chat-session">
          <ul class="message-list">
            <li class="user-message" *ngFor="let message of messages | slice:-10 | orderBy: 'timestamp': 'asc'">
              <span class="user-image">
                  <img [src]="sanitizeAvatar(message)"/>
              </span>
              <span class="user-id">{{ message?.player?.first_name }} {{message?.player?.last_name}}</span>
              <span class="user-time">{{ formatDate(message?.timestamp) }} </span>
              <ng-container *ngIf="!message?.isGif; else isGif">
                <span class="user-message">{{ message.msg }}</span>
              </ng-container>
              <ng-template #isGif>
                <span class="user-message"><img [src]="sanitizeGif(message)"/></span> 
              </ng-template>
            </li>
          </ul>
        </section>
</main>