html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }


  ul {
    list-style: none;
  }

  .user-list li {
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  .chat-window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .chat-window > * {
    padding: 10px 20px;
  }

  .chat-header, .chat-footer {
    display: flex;
    align-items: center;
  }

  .chat-header {
    border-bottom: 1px solid #ccc;
  }

  .chat-session {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
  }

  .message-list {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .user-message {
    margin-top: 10px;
  }

  .user-message span {
    display: block;
  }

  .chat-footer {
    border-top: 1px solid #ccc;
  }

  .chat-footer form, .chat-footer input {
    width: 100%;
  }